<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show All Data</title>
</head>
<body>
    <h1>All Data</h1>
    <table border="1">
        <tr>
            <th>Products</th>
            <th>Reviews</th>
            <tr>
                <th>Products ID</th>
                <th>Product Title</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Rating</th>
                <th>Reviews</th>
                <th>Reviews ID</th>
            </tr>
        </tr>
        {% for mob in mobile %}
            <tr>
                <td>{{ mob.Product_Id }}</td>
                <td>{{ mob.Product_title }}</td>
                <td>{{ mob.Product_Price }}</td>
                <td>{{ mob.Product_Brand }}</td>
                <td>{{ mob.Product_Rating }}</td>
                <td>{{ mob.Reviews_text }}</td>
                <td>{{ mob.Reviews_Id }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
